<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
      <ion-back-button></ion-back-button> <!--boton para retroceder-->
    </ion-buttons>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="text-align: center;">Registro</h1>
  <ion-item>
    <ion-input label="Ingrese usuario" labelPlacement="floating" placeholder="nickname" [(ngModel)]="nickname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Ingrese edad" labelPlacement="floating" placeholder="28" type="number" [(ngModel)]="edad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Ingrese correo" labelPlacement="floating" placeholder="example@example.com" type="email" [(ngModel)]="correo"></ion-input>
  </ion-item>
  <div class="centrado">
    <ion-button color="secondary" (click)="validarCampos()">Registrar {{ nickname | uppercase }}</ion-button>  <!--con routerLink podemos ir de un lugar a otro con los botones-->
    <ion-button color="danger" [routerLink]="['/home']">Cancelar</ion-button> <!--con routerLink podemos ir de un lugar a otro con los botones-->

    <h3 *ngIf="edad > 25">{{edad | percent}}</h3> <!--cambia a porcentaje la edad-->
    <h1 *ngFor="let x of listaNombres"> {{x.nombre}}</h1> <!--se mostraran los nombres dentro de la lista-->
  </div>
</ion-content>
