<ion-app>
  <ion-menu contentId="main-content"> <!--si tenemos mas de un menu hay que ponerle aqui contentId="main-content"-->
    <ion-header>  <!--aqui puede ir el logo o un titulo normal-->
      <ion-toolbar color="secondary"> <!--con esto le ponemos un color en el titulo del menu-->
        <ion-title>Menú Principal</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-menu-toggle> <!--con esto cuando vaya de un item del menu a otro este menu desaparecera para que tenga una mejor experiencia-->
        <ion-list>
          <ion-item [routerDirection]="'root'" [routerLink]="['/registro']"> <!--asi debe ir -->
            <ion-icon name="boat-outline"></ion-icon>
            <ion-label>registro</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="chatbox-outline"></ion-icon>
            <ion-label>home</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="cloud-outline"></ion-icon>
            <ion-label>principal</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet> <!--poniendo eso aca sabra que el menu principal es este en caso de que haya mas de un menu-->
</ion-app>
